<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: 20px; font-family: 'Open Sans';">
    <div style="width: 50vw; margin: 0 auto;">
        <a href="https://jalasoft.com/" target="_blank"><img
                src="https://drive.google.com/uc?export=view&id=1bXGZ52ErC8kAKeECXUEXZF5lOHELHpDy" alt="iMentor"
                class="w-48 text-center" style="width: 12rem;"></a> <br>
        <div style="text-align: center;">
            <h1 style="font-size: 1.875rem; line-height: 2.25rem;"> Welcome <%= name %> 😊 </h1>

            <p class="text-lg" style="font-size: 1.125rem; line-height: 1.75rem;">
                Welcome to this community when we shared knowledge
                <br><br>
                <strong>With the iMentor account you can:</strong> <br>

                - Become a mentor and help other people <br>
                - Have 100% control of your profile<br><br>

                <strong>We will be by your side 😉</strong> <br><br>

                All the time we'll be there to help you have a optimal experience with iMentor <br><br>

                <strong>You will love to learn 🤓 </strong><br><br>

                iMentor gives you a way new learning experience with the best mentors. <br><br>

                <strong>iMentor Team</strong><br><br>

                <a href="#"
                    style="background-color: #EF626C; border-radius: 0.75rem; padding: 0.75rem; color: white; text-decoration: none; width: 50%;">Visit
                    Your Profile</a>
            </p>
            <br>
        </div>
    </div>
    <div
        style="width: 80vw; background-color: #282828; border-radius: 1.5rem; font-weight: 300; display: flex; justify-content: center; align-items: center; min-height: 200px; margin: 0 auto;">

        <div
            style="color: white; width: 60%; padding-left: 30px; padding-right: 30px; padding-top: 80px; font-size: 1.125rem; text-align: center;">
            iMentor is a mentoring website form
            JalaSoft where you can sign in and become a mentor and purchase lessons from real people</div>
        <hr style="color: white; height: 150px;">
        <div style="width: 40%; text-align: center; padding-top: 80px;">
            <a href="https://www.instagram.com/jalasoft/?hl=en" title="Instagram">
                <img src="https://drive.google.com/uc?export=view&id=1TIHmZDBAyy2ZxUOvbVhlJ9wmiOGt7HUh"" alt="
                    Instagram" style="width: 40px;">
            </a>
            <a href="https://www.linkedin.com/company/jalasoft" title="linkedin">
                <img src="https://drive.google.com/uc?export=view&id=1DAAz1Iur9IaiFBWXjwGj1ecTgWA2H8HN"" alt="
                    Instagram" style="width: 40px; padding-left: 20px;">
            </a>
        </div>
</body>

</html>